* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }


@font-face {
    font-family: headFont;
    src: url(../fonts/concrete/cmunobx.otf);
}

@font-face {
    font-family: textFont;
    src: url(../fonts/concrete/cmunorm.otf);
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: 300px;
  margin-top: 1px;
  color: rgba(255,255,255,.9);
}


.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}


.inline {
  font-size: 1.25em;
  vertical-align: bottom;
}

footer.page-footer {
  margin: 0;
}


.justify {
  text-align: justify;
}

html {
  font-family: textFont;
  font-size: 1.1em;
  background-image: url("../img/bgperiodic2.png"); 
}

.img-text {
  color: white;
  font-family: headFont;
  font-weight: 300;
  color: #fff !important;
  text-shadow:
  1px 1px 0 #000;
}

.subnote {
  font-size: 0.75em;
}

.bot-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
}

.ficon {
  font-size: 1.5em;
}

.active-menu {
  font-weight: 500;
  color: #008080;
  border-top: 3pt solid #008080;
}

img {
  float: left;
  margin-right: 20px;
  border-radius: 35px 10px;
}


.hidden {
  opacity: 0;
  color: #ede8dc;
}


.blendy {
  background-color: #fff;
}


.header-image {
  float: left;
  border-radius: 0px 0px;
  padding-top: 10px;
  height: 30px;
}

.header-container {
  min-height: 200px;
  line-height: 0;
  height: 200px;
  color: rgba(255,255,255,.9);
}

.quote {
  font-size: 0.5em;
  color: #aaa;
}

.quote i {
  font-size: 1em;
  color: #999;
  padding: 0px;
  margin: 0px;
}

.section {
  width: 100%;
  padding-top: 0px;
}

.last-modified {
  font-size: 0.8em; 
  margin-top: 7px; 
  color: #999; 
  text-align: right;
}

@media (max-height: 600px) {
  .quote {
    display: none;
  }
  .brand-logo {
    display: none;
  }
  .last-modified {
    display: none;
  }
  .row .center {
    width: 100%;
  }
  .row .col.s5 {
    width: 0px;
  }
  .row .col.s2 {
    width:100%;
  }
}

@media (max-width: 600px) {
  .quote {
    display: none;
  }
  .brand-logo {
    display: none;
  }
  .last-modified {
    display: none;
  }
  .row .center {
    width: 100%;
  }
  .row .col.s5 {
    width: 0px;
  }
  .row .col.s2 {
    width: 100%;
  }
}


@media (max-width: 1200px) {
  .quote {
    display: none;
  }
}



/*
.parallax img {
  -webkit-mask-image: radial-gradient(40em circle, rgba(0,0,0,1) 38em, rgba(0,0,0,0));
}*/
